/* src/components/Busca.css */
.busca-form {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px; /* Limite máximo para o tamanho da barra de busca */
  }
  
  .input-group {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .input-field {
    flex: 1;
    margin-right: 8px; /* Espaço entre o campo de entrada e o botão */
  }
  
  .search-button {
    flex-shrink: 0;
    background-color: #ff6f61; /* Cor laranja */
    border: none;
  }
  
  .search-button .p-button {
    background-color: #ff6f61; /* Cor laranja */
    border: none;
  }
  
  .search-button .p-button:hover {
    background-color: #ff5722;
  }