/* src/components/ListaImagens.css */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  
  .image-item {
    width: 200px; /* Ajuste conforme necessário */
    height: 200px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0; /* Cor de fundo para visualizar melhor o espaço */
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Para garantir que a imagem cubra toda a área */
    border-radius: 8px; /* Para bordas arredondadas */
  }
  